**/.deps
**/.libs
**/Makefile
**/Makefile.in
*.la
*.lo
*.o
*~
.*
!.gitignore
!.mailmap
!.cmake-format.yaml
INSTALL
aclocal.m4
admin/RPM/freealut.spec
admin/autotools/**
!admin/autotools/.indent.pro
admin/autotools/missing
admin/pkgconfig/freealut-config
admin/pkgconfig/freealut.pc
autom4te.cache/
build*/
config.h
config.h.in
config.log
config.status
configure
examples/hello_world
examples/playfile
libtool
stamp-h1
test_suite/test_errorstuff
test_suite/test_fileloader
test_suite/test_memoryloader
test_suite/test_retrostuff
test_suite/test_version
test_suite/test_waveforms
